<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cool.eye.demo">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

  <permission android:name="android.permission.TEST" />

  <uses-permission android:name="android.permission.TEST" />
  <uses-permission android:name="android.permission.BODY_SENSORS" />

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name="com.cool.eye.func.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name="com.cool.eye.func.video.VideoActivity" />
    <activity android:name="com.cool.eye.func.scan.ScanResultActivity" />
    <activity android:name="com.cool.eye.func.scan.ScanActivity" />
    <activity android:name="com.cool.eye.func.permission.FilePermissionActivity" />
    <activity android:name="com.cool.eye.func.theme.ThemeActivity" />
    <activity android:name="com.cool.eye.func.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.cool.eye.func.address.view.AddressActivity"
      android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
    <activity android:name="com.cool.eye.func.notify.NotifyActivity" />
    <activity android:name="com.cool.eye.func.view.trend.TrendActivity" />

    <service
      android:name="com.cool.eye.func.notify.NotifyService"
      android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
    </service>

    <activity android:name="com.cool.eye.func.task.TaskActivity" />
    <activity android:name="com.cool.eye.func.recyclerview.RecyclerAdapterActivity" />
    <activity android:name="com.cool.eye.func.photo.PhotoActivity" />
    <activity android:name="com.cool.eye.func.banner.BannerActivity" />
    <activity android:name="com.cool.eye.func.install.DownloadActivity" />
    <activity android:name="com.cool.eye.func.permission.PermissionTestActivity" />
    <activity android:name="com.cool.eye.func.dialog.toast.ToastActivity" />
    <activity android:name="com.cool.eye.func.dialog.DialogActivity" />
    <activity android:name="com.cool.eye.func.banner.GalleryActivity" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="test"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths_2" />
    </provider>
  </application>

</manifest>